<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Egg Noticias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index_noticias.css" >
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      
    </head>
    <body>
        
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/noticia/administrador" >Ingreso como administrador</a>
          </li>
        
         
        </ul>

        <header class="inicio_noticias">
            <img src="/img/Egg.png">
            <h1 class="titulo_principal" >Egg Noticias</h1>
            
        </header>
        
       
        
        
        <section class="prueba">
        <div class="card" style="width: 18rem;" action="/" method="POST" enctype="multipart/form-data"th:each="noticia:${noticias}">
            <img class="card-img-top" src="/img/Egg.png" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title" th:text="${noticia.titulo}">Card title</h5>
                 <p class="card-text"th:text="${noticia.cuerpo}" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="#" class="btn btn-primary">Leer noticia completa</a>
                 
             </div>
        </div>
       </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
    </body>
</html>
